doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title= (name ? name + " | " : "") + "Kubalist"
    meta(name='viewport', content='initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='/assets/mvp.css')
    link(rel='stylesheet', href='/assets/tagify.css')
    script(defer='', type='text/javascript', src='/assets/tagify.js')
    script(defer='', type='text/javascript', src='/app.js')
    style.
      #message {
        opacity: 0;
        position: fixed;
        transition: opacity 1s;
        z-index: 5
      }
      #message.show {
        opacity: 100%;
      }
  body
    header
      article
        aside#message
      nav
        a(href='https://kubalist.kbn.one/') Kubalist
        ul
          li Home
          li
            a(href='#howto') 使い方
          li
            a(href='#api') API
          li
            a(href='https://www.github.com/kuboon/kubalist/', target='_blank') GitHub
      h1 クバリスト
      h2 online card deal
      p
        | どんな
        b カードセット
        | でも、URLをシェアするだけで、1枚ずつ配れます。
    main
      section
        aside
          div
            label(for='cards') カードセット
            input#cards(type='text', name='cards', size='28', value=cards)
          button(onclick='create(); return false;') ルーム作成
        aside#room(style='display: none;')
          p 以下のURLをメンバーにシェアしてください
          input#room_url(type='text' style="box-sizing: border-box; width: 100%" onfocus='this.select()')
          p すべてのカードを回収して同じルームの参加者に配りなおすことが出来ます。下のボタンを押したのち、各プレイヤーはページをリロードしてください。
          button(onclick='reset(this)') 配りなおす
        aside#list(style='display: none;')
          p ゲームマスターは、プレイヤー番号と配られたカードの対応表を見ることができます。プレイヤー番号はランダムであり、プレイヤー同士は番号からカードを知ることは出来ません。
          button(onclick='view(); return false;') 配られたカード
          table#table
      hr
      section#share
        header
          h2 このカードセットを保存・シェアする
        form(onsubmit='save(); return false;')
          div
            label(for='cards') カードセット名
            input#name(type='text', name='name', size='28', value=name required)
          input(type="submit" value="保存・シェア")
          p ボタンを押すとURLが変わりますので、それをブックマークすれば保存、Tweet等すればシェアできます。
      hr
      section#howto
        header
          h2 使い方
        aside
          h3 カードセット作る
          p 何枚でもOK。カンマや改行区切りのテキストを入力してください。
        aside
          h3 ルーム作成
          p URLが発行されるのでプレイヤーにシェアしてください。
        aside
          h3 カードをドロー
          p 各プレイヤーはルームのカードをドローできます。すべてのカードがドローされるまで、何回でもドローできます。
          p 同じメンバーで何度でも配りなおせます。
        aside
          h3 カードセットの保存、シェア
          p
            | カードセットに名前を付けて「保存・シェア」ボタンを押すとURLが変わります。そのURLをブックマークに保存したり、ツイートすることでカードセットをシェアできます。
      hr
    hr
    footer
      p
        a(href='https://kuboon.github.io', target='_blank') @Kuboon ↗
      p
        | Sponsored by 
        a(href='https://jellyjellycafe.com/') JELLYJELLYCAFE
